#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  padding: 2rem;
}

table {
  margin: 1rem auto;
  width: 80%;
  border-collapse: collapse;
  text-align: left;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input {
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
}
